.bg-image {
  width: 100%;
}

.story-title {
  font-size:20px;
  font-weight: 200;
  margin-top: 26px;
  color: #005197;
}

.story-panel {
  padding: 30px 0px 30px 20px;  
  border-bottom: solid 1px #d9d8d8;
  min-height: 287px;
}

.author-score {
  margin:40px 0px 32px 0px;
}

.url-line {
  margin:0px 0px 17px 0px;
  display:inline;
}

.score-line {
  display:inline;
}

.url-links {
  font-weight: 200;
}

.url-links:hover {
  text-decoration: none;
  cursor: pointer;
}

.userIcon {
  width: 27px;
  height: 25px;
  margin-right: 14px;
}

.scoreIcon {
  width: 22px;
  height: 22px;
  margin-right: 17px;
}

span.author-link a:hover {
  text-decoration: none;
}

span.author-link a {
}

.author-panel {
  width: 100%;
  min-height: 270px;
  padding-top:20px;
  background-color: #F1F1F1;
}

.author-panel-user-icon {
  width:110px;
  height:110px;
  text-align: center;
}

.author-panel-karma-icon {
  width:100px;
  height:100px;
  text-align: center;  
}

.author-panel-submissions-icon {
  width:100px;
  height:100px;
  text-align: center; 
}

.karma-text {
  text-align: center;
  font-size:25px;
}

.submissions-text {
  text-align: center;
  font-size:30px;
}

.author-panel-stat {
  font-size: 36px;
  margin-top: 20px;
  text-align: center;  
}

.nav-buttons {
  margin-left:10px;
  margin-top:10px;
}

.nav-button-far-left {
  margin-top:10px;
  margin-left: -10px;
}

a:hover {
  text-decoration: none;
}
